.page {
  width: 100%;
  height: 100%;
}

.container {
  align-items: center;
  row-gap: 80px;
  height: 100%;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  row-gap: 24px;
  width: min-content;
  margin-top: 180px;
}

.actions {
  row-gap: 16px;
}
