.card {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 24px;
  text-align: start;
  background-color: #1c1c21;
  border-radius: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlight {
  color: var(--colors-interface-success);
}
